.container{
    @include flex-center;
    flex-wrap: wrap;
    &-character{
        margin: 25px;
        &__checkmark{
            margin-top: -20px;
            margin-left: 70px;
            position: absolute;
            font-size: 1.5em;
            color: rgb(125, 255, 125);
            &-none{
                margin-top: -20px;
                margin-left: 70px;
                position: absolute;
                font-size: 1.5em;
                color: crimson;
            }
        }
        &__icon{
            &-none{
                filter: grayscale(100%);
            }
        }
        &__level{
            position: absolute;
            margin-top: -25px;
            margin-left: 30px;
            font-size: 1em;
        }
    }
}